.############################################
# 🔹 General
############################################
*.log
*.tmp
*.temp
*.swp
*.swo
*.pid
*.seed
*.out
*.err

############################################
# 🔹 OS
############################################
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

############################################
# 🔹 IDE
############################################
# VSCode
.vscode/

# JetBrains (PyCharm, IntelliJ, etc.)
.idea/
*.iml

# Sublime
*.sublime-project
*.sublime-workspace

############################################
# 🔹 Git
############################################
.git/
.gitignore
.gitattributes

############################################
# 🔹 ENV
############################################
.env
.env.*
*.env

############################################
# 🔹 Files
############################################
*.key
*.pem
*.crt
*.p12
secrets.*
credentials.*

############################################
# 🔹 Python
############################################
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Distribución / build
build/
dist/
*.egg-info/
.eggs/

# Testing
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

# Jupyter
.ipynb_checkpoints/


############################################
# 🔹 Logs
############################################
logs/
*.log

############################################
# 🔹 Archivos comprimidos
############################################
*.zip
*.tar
*.gz
*.rar
*.7z

############################################
# 🔹 DB
############################################
*.sqlite3
*.db

############################################
# 🔹 Docker
############################################
docker-compose.override.yml
.env.docker

############################################
# 🔹 Terraform
############################################
.terraform/
*.tfstate
*.tfstate.*

############################################
# 🔹 Temporaly files
############################################
*.bak
*.backup
*.old
